* {
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.5em;
  text-indent: 1.25cm;
}

book {
  margin: 20mm 10mm 20mm 25mm;
}

title,
para {
  display: block;
}

chapter {
  counter-reset: section;
  list-style-type: none;
}

section > title::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}

#header {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12pt;
}

title {
  margin: 12pt 0;
}

table {
  display: block;
  width: 500px;
}

tr{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

 td, th {
   display: inline-block;
  border: 1px solid black;
  /* padding: 8px; */
}

th,td{margin: 0 -1px -1px 0;}
/* th:nth-child(odd),td:nth-child(odd){margin: 0 -1px -1px 0;} */

 th {
  text-align: left;
}

li{display: block}

li::before{content: '– ';}